{% import "@ucdlib-awards/evaluation/macros.twig" as evalMacros %}
{% apply spaceless %}
<!DOCTYPE html>
<html>
<head>
  <title>{{award.getTitle}} Applications</title>
  {{ evalMacros.renderStyles() }}
</head>
<body>
<h1>{{award.getTitle}} Applications</h1>
{% for applicant in applicants %}
  {{ evalMacros.renderApplicant(applicant, cycleId) }}
{% endfor %}
</body>
</html>
{% endapply %}
